@font-face{
	font-family: 'SEGA LOGO FONT';
	font-style: normal;
	font-weight: normal;
	src: local('SEGA LOGO FONT'), format('woff');
}

h1 {
	font-family: 'SEGA LOGO FONT';
	font-weight: 200;
/*	color: #0ccac4;
*/}

.p1{
	font-family: 'SEGA LOGO FONT';
	font-size: 1.4em;
	font-weight: 100;
/*	color: #0ccac4;*/
	padding-top: 1em;
}

input[type="submit"] {
	font-size: 1.2rem;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	display: inline-block;
	border: white;
}
.bg-light-green {
	background-color: linear-gradient(#39598A, #79D7ED);
}